<h3>Create New Product</h3>
<form action="" method="post">
Title: <input type="text" name="title" value="braclet"> <br>
Description: <textarea name="description">Gray color</textarea> <br>
Price: <input type="text" name="price" value="500"> <br>
<input type="submit">
</form>